extends base.pug

block scripts
  


block style
    style
      include ../static/css/about.css

block content 
        #about
           div
              div#mainintro
                  h1 Welcome to my about page
              div#description
                  p I am a full stack web developer. i have deep knowledge in HTML,CSS and javascript. I develop backend with nodejs and mongodb as database management system. I use express as framework. I am very good at my skill and do it with 100% dedication.
