extends base.pug

block scripts


block style
    style
      include ../static/css/contact.css

block content 
       #contact
           div
              div#mainintro
                  h1 Welcome to my Contact page
              div#description
                  p I am a full stack web developer.
                  p IF you want to contact me you cab do so via fiverr.
                  p 
                    button#btn
                      a(href="https://www.fiverr.com/share/4zvDVR" target="_blank") Contact me through fiverr
                  