extends base.pug

block scripts


block style
    style
      include ../static/css/services.css

block content 
     #services
           div
              div#mainintro
                  h1 Welcome to my services page
              div#description
                  p I am a full stack web developer.
                  p I offer my services at fiverr.com as a freelancer in field of web development.
                  p 
                    button#btn
                      a(href="https://www.fiverr.com/share/4zvDVR" target="_blank") click to go my gig at fiver
                  


